{% block title %}
<title>New Note</title>
{% endblock title %}

{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'notes/css/newStyle.css' %}">
{% endblock %}

{% block content %}
<main>
    <form action="{% url 'notes:create' %}" method="post">
    {# Cross-Site Request Forgery #}
    {# comment Django uses a csrf token to know the POST request comes from a legit user #}
    {% csrf_token %}
        {{ form.as_p }}
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
    {% if form.errors %}
    <div>
        {{ form.errors.title.as_text }}
        {{ form.errors.text.as_text }}
    </div>
    {% endif %}
</main>
{% endblock content %}